<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="MyHelixSolution" description="my first helix proj" dependancies="MyHelixSolution.Foundation.Unicorn"
                       patch:after="configuration[@name='MyHelixSolution.Foundation.Unicorn']">
          <targetDataStore physicalRootPath="D:\Meyank-Documents\dotnet practice\MyHelixSolution\Unicorn"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate,Unicorn" singleInstance="true">
            <include name="myhelixproj.templates" database="master" path="/sitecore/templates/Feature/mps"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
